body {
    font: 18px "Inter";
}

.text-gray {
    color: #4d4d4d;
    margin-right: 20px;
}

.text-link {
    color: #3a64cc;
    font-weight: 500;
    text-decoration: none;
}

.form-container {
    font-weight: 500;
    margin-left: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
}

label {
    color: #535353;
    font-size: 15px;
}

.form-field {
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 15px;
    width: 70%;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 17px;
    font-size: 18px;
}

.short-field {
    width: 20%;
}

.form-field:hover {
    background: #f3f5f8;
}

.form-field:focus {
    border: 1px solid #3f78ff;
    background: #f3f5f8;
}

input:focus:invalid {
    border-color: #ffa6a6;
}

.form-button {
    background: #3f78ff;
    border-radius: 10px;
    color: white;
    font-weight: 520;
    font-size: 18px;
    padding: 13px;
    min-width: 120px;
    border: 0;
    cursor: pointer;
}

.form-button:hover {
    background: #5f91ff;
}

.modal {
    position: fixed;
    width: auto;
    right: 40px;
    top: 30px;
    border-radius: 8px;
    padding: 15px;
    font-size: 10px;
}

.error {
    background: #ffb3be;
}

.ok {
    background: #bcf5bc;
}