#form-container {
    font-weight: 500;
    margin-left: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
}

label {
    color: #535353;
    font-size: 15px;
}

.form-field {
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 14px;
    width: 70%;
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 17px;
    font-size: 16px;
}

.short-field {
    width: 20%;
}

.form-field:hover {
    background: #f3f5f8;
}

.form-field:focus {
    border: 1px solid #3f78ff;
    background: #f3f5f8;
}

input:focus:invalid {
    border-color: #ffa6a6;
}

.form-button {
    margin-top: 13px;
    background: #3f78ff;
    border-radius: 10px;
    color: white;
    font-weight: 520;
    font-size: 18px;
    padding: 13px;
    min-width: 120px;
    border: 0;
    cursor: pointer;
}

.form-button:hover {
    background: #5f91ff;
}
